html {
  scroll-behavior: smooth;
}
html body {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  line-height: 2;
}
html body a {
  text-decoration: none;
  color: #fff;
}
html .mobile-header {
  display: none;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  height: 63px;
}
html .mobile-header__menu {
  display: flex;
  align-items: center;
}
html .mobile-header__menu__tittle {
  margin-right: 26px;
}
html .mobile-header__tittle {
  font-size: 27px;
}
html .mobile-header__tittle___orange {
  color: orange;
}
html .main-wrap {
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 0.5s;
}
html .main-wrap .main {
  position: relative;
  color: white;
  width: 70%;
  height: 723px;
  margin: 0 auto;
  padding: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
html .main-wrap .main .header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 70%;
  transition: 0.5s;
  padding: 0 10px;
  border-radius: 10px;
}
html .main-wrap .main .header .header__menu {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
}
html .main-wrap .main .header .header__menu .menu-button {
  margin: 0 20px 0 0;
  width: 35px;
  cursor: pointer;
}
html .main-wrap .main .header .header-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 70%;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 8px;
  letter-spacing: 1.5px;
}
html .main-wrap .main .header .header-contacts .hc-phone {
  display: flex;
}
html .main-wrap .main .header .header-contacts .hc-phone .phone-img {
  margin: 10px 15px 0 0;
  width: 15px;
  height: 20px;
}
html .main-wrap .main .header .header-contacts .hc-phone .hc-phone-discription a {
  color: white;
  text-decoration: none;
}
html .main-wrap .main .header .header-contacts .hc-phone .hc-phone-discription .hdiscription {
  font-size: 10px;
  margin: 10px 0 0 0;
}
html .main-wrap .main .header .header-contacts .hc-location {
  display: flex;
  margin-left: 30px;
}
html .main-wrap .main .header .header-contacts .hc-location .location {
  margin: 10px 15px 0 0;
  width: 15px;
  height: 20px;
}
html .main-wrap .main .header .header-contacts .hc-location .hc-location-discription .discription {
  font-size: 10px;
  margin: 10px 0 0 0;
}
html .main-wrap .main .main-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  margin-top: 10px;
}
html .main-wrap .main .main-content .left-arrow {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.5;
  color: orange;
}
html .main-wrap .main .main-content .left-arrow .left-arrow-img {
  margin: 0 10px 0 0;
  height: 25px;
}
html .main-wrap .main .main-content .left-arrow:hover {
  opacity: 1;
  cursor: pointer;
}
html .main-wrap .main .main-content .right-arrow {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.5;
  color: orange;
}
html .main-wrap .main .main-content .right-arrow .rigth-arrow-img {
  margin: 0 0 0 10px;
  height: 25px;
}
html .main-wrap .main .main-content .right-arrow:hover {
  opacity: 1;
  cursor: pointer;
}
html .main-wrap .main .main-content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .main-wrap .main .main-content .content img {
  width: 100px;
  margin-right: 22px;
}
html .main-wrap .main .c-discription {
  text-transform: uppercase;
  font-size: 24px;
  margin: 30px 0 0 0;
}
html .main-wrap .main .c-discription span {
  color: orange;
}
html .main-wrap .main .markerss {
  display: flex;
  justify-content: space-around;
  width: 10%;
  margin: 165px 0 0 0;
}
html .main-wrap .main .markerss .marker {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: rgb(173, 170, 170);
  box-shadow: 0 0 25px orange;
}
html .main-wrap .main .markerss .active {
  background: orange;
}
html .main-wrap .menu {
  position: absolute;
  top: 0;
  left: -900px;
  display: flex;
  justify-content: flex-end;
  max-width: 600px;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  border-right: 2px solid rgba(255, 255, 255, 0.322);
  font-size: 14px;
  transition: 0.5s;
  z-index: 2;
}
html .main-wrap .menu a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
html .main-wrap .menu a:hover {
  color: rgba(255, 255, 255, 0.322);
}
html .main-wrap .menu .menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  width: 100%;
}
html .main-wrap .menu .menu__container .menu__close {
  display: flex;
  align-items: center;
  align-self: flex-start;
}
html .main-wrap .menu .menu__container .menu__close__icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
html .main-wrap .menu .menu__container .menu__close__text {
  text-transform: uppercase;
  margin-left: 30px;
  cursor: pointer;
}
html .main-wrap .menu .menu__container .menu__body .menu__logo {
  width: 168;
  height: 190px;
  margin: 40px 0;
}
html .main-wrap .menu .menu__container .menu__body__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
html .main-wrap .menu .menu__container .menu__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .main-wrap .menu .menu__container .menu__footer .footer__title {
  font-size: 25px;
  text-transform: uppercase;
}
html .main-wrap .menu .menu__container .menu__footer .footer__title___orange {
  color: orange;
}
html .main-wrap .menu .menu__container .menu__footer .footer__social {
  display: flex;
  justify-content: space-between;
  width: 50px;
  margin: 10px 0;
}
html .main-wrap .menu .menu__container .menu__footer .footer__location {
  text-transform: uppercase;
  margin-top: 10px;
}
html .main-wrap .show {
  left: 0;
  transition: 0.5s;
}
html .bastseller-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}
html .bastseller-wrap .bestsellers {
  width: 70%;
}
html .bastseller-wrap .bestsellers .b-title {
  display: flex;
  text-transform: uppercase;
  font-size: 30px;
  margin: 50px 0 0 0;
}
html .bastseller-wrap .bestsellers .b-title img {
  display: flex;
  height: 50px;
}
html .bastseller-wrap .bestsellers .b-title .bt-text {
  margin-left: 30px;
}
html .bastseller-wrap .bestsellers .b-title .bt-text span {
  color: orange;
}
html .bastseller-wrap .bestsellers .b-discription {
  display: block;
  color: rgb(173, 170, 170);
  margin: 20px 0 0 0;
}
html .bastseller-wrap .bestsellers .b-discription::first-letter {
  text-transform: uppercase;
}
html .bastseller-wrap .bestsellers .b-goods {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link .good {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 100px 0 0 0;
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link .good img {
  position: relative;
  height: 300px;
  width: 100px;
  align-self: center;
  margin-bottom: 45px;
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link .good :nth-child(2) {
  font-size: 18px;
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link .good :nth-child(3) {
  color: orange;
  font-size: 18px;
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link .good :nth-child(4) {
  color: rgb(173, 170, 170);
  margin: 20px 0 0 0;
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link .good :nth-child(5) {
  color: rgb(173, 170, 170);
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link .good ::first-letter {
  text-transform: uppercase;
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link .good .price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: rgb(173, 170, 170);
  margin: 20px 0 0 0;
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link .good .price :first-child {
  color: orange;
  font-size: 20px;
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link .good:before {
  content: url("../img/bestseller/beginers.png");
  position: absolute;
  top: -20px;
  left: 0;
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link .good::after {
  content: url("../img/bestseller/shadow.png");
  position: absolute;
  top: 100px;
  left: 70px;
}
html .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link:hover {
  box-shadow: 0px 0px 35px 6px rgb(207, 199, 207);
}
html .bastseller-wrap .bestsellers .b-goods .b-goods___left {
  display: none;
}
html .bastseller-wrap .bestsellers .b-goods .b-goods___right {
  display: none;
}
html .bastseller-wrap .bestsellers .button-wrap {
  display: flex;
  justify-content: center;
}
html .bastseller-wrap .bestsellers .button-wrap a {
  position: relative;
  text-decoration: none;
  color: white;
  margin: 50px 0 50px 0;
  font-size: 13px;
  background: orange;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px rgb(173, 170, 170);
  text-transform: uppercase;
}
html .bastseller-wrap .bestsellers .button-wrap a::after {
  content: url("../img/btn/arrow.png");
  display: inline;
  margin-left: 20px;
  margin-top: 3px;
}
html .bastseller-wrap .bestsellers .button-wrap a:hover {
  opacity: 0.8;
}
html .bastseller-wrap .bestsellers .markerss-b {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 15px auto;
}
html .bastseller-wrap .bestsellers .markerss-b .marker {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: rgb(173, 170, 170);
  box-shadow: 0 0 25px orange;
}
html .bastseller-wrap .bestsellers .markerss-b .active {
  background: orange;
}
html .accessory-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(248, 236, 236);
}
html .accessory-wrap .accessory {
  position: relative;
  width: 70%;
  margin-top: 86px;
}
html .accessory-wrap .accessory .a-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html .accessory-wrap .accessory .a-title .title-wrap {
  display: flex;
  align-content: center;
  text-transform: uppercase;
}
html .accessory-wrap .accessory .a-title .title-wrap h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-left: 30px;
}
html .accessory-wrap .accessory .a-title .title-wrap img {
  height: 50px;
}
html .accessory-wrap .accessory .a-title .title-wrap span {
  color: orange;
}
html .accessory-wrap .accessory .a-title .swicher {
  display: flex;
  align-items: center;
  color: rgb(173, 170, 170);
}
html .accessory-wrap .accessory .a-title .swicher :first-child {
  margin: 0 40px 0 0;
}
html .accessory-wrap .accessory .a-title .swicher ::first-letter {
  text-transform: uppercase;
}
html .accessory-wrap .accessory .a-title .swicher :nth-child(2) {
  margin-right: 15px;
}
html .accessory-wrap .accessory .a-title .swicher img {
  height: 19px;
  cursor: pointer;
}
html .accessory-wrap .accessory .accessories {
  overflow: hidden;
  width: 100%;
  max-width: 944.3px;
  display: flex;
  margin: 50px 0 100px 0;
}
html .accessory-wrap .accessory .accessories .accessories-wrap {
  position: relative;
  right: 0;
  width: 6000px;
  display: flex;
  transition: 1s;
}
html .accessory-wrap .accessory .accessories .accessories-wrap .a-disc {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 325px;
}
html .accessory-wrap .accessory .accessories .accessories-wrap .a-disc img {
  align-self: center;
  height: 258px;
  width: 93px;
  margin: 0 0 50px 0;
}
html .accessory-wrap .accessory .accessories .accessories-wrap .a-disc :nth-child(2) {
  font-size: 20px;
}
html .accessory-wrap .accessory .accessories .accessories-wrap .a-disc :nth-child(3) {
  color: orange;
  font-size: 20px;
}
html .accessory-wrap .accessory .accessories .accessories-wrap .a-disc :nth-child(4) {
  margin: 20px 0;
  color: rgb(173, 170, 170);
}
html .accessory-wrap .accessory .accessories .accessories-wrap .a-disc :last-child {
  color: orange;
  font-size: 20px;
}
html .accessory-wrap .accessory .accessories .accessories-wrap .a-disc ::first-letter {
  text-transform: uppercase;
}
html .accessory-wrap .accessory .accessories .accessories-wrap .a-disc::before {
  content: url("../img/accessories/shadow.png");
  position: absolute;
  top: 50px;
  left: 50px;
}
html .accessory-wrap .accessory .marker-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
html .accessory-wrap .accessory .marker-wrap .markers {
  width: 15%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
html .accessory-wrap .accessory .marker-wrap .markers .marker {
  background: rgb(173, 170, 170);
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
html .accessory-wrap .accessory .marker-wrap .markers .active {
  background: orange;
}
html .liquid-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
html .liquid-wrap .liquid {
  width: 70%;
  display: flex;
  margin: 80px 0;
}
html .liquid-wrap .liquid .l-image {
  position: relative;
  display: flex;
  justify-content: center;
}
html .liquid-wrap .liquid .l-image img {
  width: 350px;
  height: 400px;
}
html .liquid-wrap .liquid .l-image::after {
  content: "";
  position: absolute;
  top: 121px;
  left: 0;
  width: 100%;
  height: 65%;
  background-image: url("../img/main_slider/smoke.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
html .liquid-wrap .liquid .l-image::before {
  content: "";
  position: absolute;
  top: 44px;
  left: -22px;
  z-index: -1;
  width: 100%;
  height: 80%;
  background-image: url("../img/liquid/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
html .liquid-wrap .liquid .l-discription {
  max-width: 648px;
}
html .liquid-wrap .liquid .l-discription .l-title {
  text-transform: uppercase;
  font-size: 30px;
}
html .liquid-wrap .liquid .l-discription .l-title span {
  color: orange;
}
html .liquid-wrap .liquid .l-discription .gray-text {
  color: rgb(173, 170, 170);
  margin: 20px 0;
}
html .liquid-wrap .liquid .l-discription .gray-text::first-letter {
  text-transform: uppercase;
}
html .liquid-wrap .liquid .l-discription .black-text::first-letter {
  text-transform: uppercase;
}
html .liquid-wrap .liquid .l-discription .l-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: orange;
  margin: 50px 0;
}
html .liquid-wrap .liquid .l-discription .l-price .lp-text {
  position: relative;
  background: rgb(248, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 219px;
  line-height: 2;
  color: orange;
}
html .liquid-wrap .liquid .l-discription .l-price .lp-text ::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  border: 37px solid transparent;
  border-right: 27px solid white;
}
html .services-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../img/footer/footr_img.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
html .services-wrap .services {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: 50px 0 0 0;
  color: rgb(173, 170, 170);
}
html .services-wrap .services .s-title {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0 0 20px 0;
}
html .services-wrap .services :nth-child(2)::first-letter {
  text-transform: uppercase;
}
html .services-wrap .services .wrap-service {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 50px 0;
}
html .services-wrap .services .wrap-service .arrow {
  cursor: pointer;
}
html .services-wrap .services .wrap-service .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
  transition: 0.5s;
}
html .services-wrap .services .wrap-service .service img {
  width: 50px;
  height: 50px;
}
html .services-wrap .services .wrap-service .service .serv-title {
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  margin: 20px 0;
}
html .services-wrap .services .wrap-service .service ::first-letter {
  text-transform: uppercase;
}
html .contacts-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(248, 236, 236);
}
html .contacts-wrap .contacts {
  display: flex;
  justify-content: center;
  margin: 70px 10px;
  font-size: 14px;
}
html .contacts-wrap .contacts .c-wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: white;
  box-shadow: 10px 10px 10px rgb(182, 172, 172), -10px 10px 10px rgb(182, 172, 172);
}
html .contacts-wrap .contacts .contact {
  padding: 0 0 0 15px;
}
html .contacts-wrap .contacts .contact .con-title {
  text-transform: uppercase;
}
html .contacts-wrap .contacts .contact .block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}
html .contacts-wrap .contacts .contact .block .b-title {
  color: rgb(173, 170, 170);
  font-size: 12px;
  text-indent: 27px;
}
html .contacts-wrap .contacts .contact .block .c-block {
  display: flex;
  align-items: center;
}
html .contacts-wrap .contacts .contact .block .c-block .c-block__location {
  width: 20px;
}
html .contacts-wrap .contacts .contact .block .c-block img {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
}
html .contacts-wrap .contacts .contact .block .c-block a {
  text-decoration: none;
  color: inherit;
}
html .contacts-wrap .contacts .contact ::first-letter {
  text-transform: uppercase;
}
html .contacts-wrap .contacts .contact span {
  color: orange;
}
html .footer-wrap {
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
}
html .footer-wrap .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 20px 0;
}
html .footer-wrap .footer .f-first {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}
html .footer-wrap .footer .f-first span {
  color: orange;
}
html .footer-wrap .footer .mobile-footer__menu___white {
  color: #fff;
  cursor: pointer;
}
html .footer-wrap .footer .footer-social-wrap .copyright {
  color: rgb(173, 170, 170);
  font-size: 12px;
}
html .footer-wrap .footer .footer-social-wrap .f-social {
  display: flex;
  justify-content: space-between;
  width: 62px;
}

@media screen and (max-width: 320px) {
  body .mobile-header {
    display: flex;
  }
  body .main-wrap {
    max-height: 350px;
  }
  body .main-wrap .main {
    width: 90%;
  }
  body .main-wrap .main .header {
    display: none;
  }
  body .main-wrap .main .main-content {
    height: 30%;
  }
  body .main-wrap .main .main-content .arrow-text {
    display: none;
  }
  body .main-wrap .main .c-discription {
    font-size: 19px;
  }
  body .main-wrap .main .markerss {
    margin: 15px 0 0 0;
    width: 30%;
  }
  body .bastseller-wrap .bestsellers {
    width: 90%;
  }
  body .bastseller-wrap .bestsellers .b-title img {
    display: none;
  }
  body .bastseller-wrap .bestsellers .b-title .bt-text {
    margin-left: 0;
  }
  body .bastseller-wrap .bestsellers .b-discription {
    font-size: 15px;
  }
  body .bastseller-wrap .bestsellers .b-goods {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    width: 100%;
  }
  body .bastseller-wrap .bestsellers .b-goods .good {
    display: flex;
    margin: 50px 0 0 0;
  }
  body .bastseller-wrap .bestsellers .b-goods .first {
    display: flex;
  }
  body .bastseller-wrap .bestsellers .b-goods a {
    margin: 0 20px;
  }
  body .accessory-wrap .accessory {
    width: 90%;
  }
  body .accessory-wrap .accessory .a-title .title-wrap h1 {
    font-size: 20px;
    margin-left: 0;
  }
  body .accessory-wrap .accessory .a-title .title-wrap img {
    display: none;
  }
  body .accessory-wrap .accessory .a-title .swicher {
    display: none;
  }
  body .accessory-wrap .accessory .accessories {
    justify-content: center;
    margin: 50px 0 15px 0;
  }
  body .accessory-wrap .accessory .accessories .accessories-wrap {
    width: 75%;
    overflow: hidden;
  }
  body .accessory-wrap .accessory .accessories .accessories-wrap .acc-wrap {
    width: auto;
  }
  body .accessory-wrap .accessory .marker-wrap .markers {
    margin: 15px 0;
    width: 70%;
  }
  body .liquid-wrap .liquid {
    position: relative;
    width: 80%;
    flex-direction: column;
    margin: 70px 0 0 0;
  }
  body .liquid-wrap .liquid .l-image {
    bottom: 0;
  }
  body .liquid-wrap .liquid .l-image img {
    width: 250px;
    height: 260px;
  }
  body .liquid-wrap .liquid .l-image::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 10px;
    width: 200px;
    height: 200px;
    background-image: url("../img/main_slider/smoke.png");
    background-size: contain;
  }
  body .liquid-wrap .liquid .l-image::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 8px;
    z-index: -1;
    width: 200px;
    height: 200px;
    background-image: url("../img/liquid/bg.png");
    background-size: contain;
  }
  body .liquid-wrap .liquid .l-discription {
    font-size: 14px;
  }
  body .liquid-wrap .liquid .l-discription .l-title {
    position: absolute;
    top: -60px;
    font-size: 25px;
  }
  body .liquid-wrap .liquid .l-discription .l-price {
    width: 100%;
  }
  body .liquid-wrap .liquid .l-discription .l-price .lp-text {
    width: 160px;
    font-size: 12px;
  }
  body .services-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../img/footer/footr_img.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  body .services-wrap .services {
    width: 90%;
    font-size: 12px;
    text-align: center;
  }
  body .services-wrap .services .s-title {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 0 20px 0;
  }
  body .services-wrap .services :nth-child(2)::first-letter {
    text-transform: uppercase;
  }
  body .services-wrap .services .wrap-service {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 50px 0;
  }
  body .services-wrap .services .wrap-service .service {
    display: none;
  }
  body .services-wrap .services .wrap-service .service img {
    width: 50px;
    height: 50px;
  }
  body .services-wrap .services .wrap-service .service .serv-title {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    margin: 20px 0;
  }
  body .services-wrap .services .wrap-service .service ::first-letter {
    text-transform: uppercase;
  }
  body .services-wrap .services .wrap-service .first {
    display: flex;
  }
  body .contacts-wrap .contacts .c-wrap {
    flex-direction: column;
  }
  body .footer-wrap {
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
  }
  body .footer-wrap .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }
  body .footer-wrap .footer .f-first {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 20px;
  }
  body .footer-wrap .footer .f-first span {
    color: orange;
  }
  body .footer-wrap .footer .mobile-header__menu {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  body .footer-wrap .footer .mobile-header__menu .menu-logo {
    position: relative;
    top: 2px;
    width: 20px;
    height: 10px;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
  }
  body .footer-wrap .footer .mobile-header__menu .menu-logo::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 20px;
    height: 2px;
    background: #fff;
  }
  body .footer-wrap .footer .mob-men___white {
    color: #fff;
  }
  body .footer-wrap .footer .footer-social-wrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding: 10px 0;
  }
  body .footer-wrap .footer .footer-social-wrap .copyright {
    color: rgb(173, 170, 170);
    font-size: 10px;
    max-width: 30%;
  }
  body .footer-wrap .footer .footer-social-wrap .f-social {
    display: flex;
    justify-content: space-between;
    width: 62px;
  }
}
@media screen and (max-width: 576px) {
  body .liquid-wrap .liquid {
    flex-direction: column;
  }
  body .services-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../img/footer/footr_img.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  body .services-wrap .services {
    width: 90%;
    font-size: 12px;
    text-align: center;
  }
  body .services-wrap .services .s-title {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 0 20px 0;
  }
  body .services-wrap .services :nth-child(2)::first-letter {
    text-transform: uppercase;
  }
  body .services-wrap .services .wrap-service {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 50px 0;
  }
  body .services-wrap .services .wrap-service .service {
    display: none;
  }
  body .services-wrap .services .wrap-service .service img {
    width: 50px;
    height: 50px;
  }
  body .services-wrap .services .wrap-service .service .serv-title {
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    margin: 20px 0;
  }
  body .services-wrap .services .wrap-service .service ::first-letter {
    text-transform: uppercase;
  }
  body .services-wrap .services .wrap-service .first {
    display: flex;
  }
  body .contacts-wrap .contacts .c-wrap {
    flex-direction: column;
  }
  body .contacts-wrap .contacts .c-wrap .map .map-responsive {
    width: 100%;
    height: 450px;
  }
  body .bastseller-wrap .bestsellers .b-goods {
    overflow: hidden;
  }
  body .bastseller-wrap .bestsellers .b-goods .b-good__wrapper {
    flex-wrap: nowrap;
    transition: 0.5s;
  }
  body .bastseller-wrap .bestsellers .b-goods .b-good__wrapper .good-link {
    padding: 0 20px;
    transition: 0.5s;
  }
  body .bastseller-wrap .bestsellers .b-goods .b-goods___left {
    display: block;
    position: absolute;
    top: 300px;
    left: 0;
  }
  body .bastseller-wrap .bestsellers .b-goods .b-goods___right {
    display: block;
    position: absolute;
    top: 300px;
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  body .main-wrap .main {
    width: 100%;
  }
  body .main-wrap .main .header .header-contacts {
    display: none;
  }
  body .main-wrap .main .c-discription {
    margin: 30px 10px 0 10px;
    text-align: center;
  }
  body .main-wrap .main .markerss {
    width: 20%;
  }
  .liquid-wrap .liquid {
    flex-direction: column;
  }
  .accessory-wrap .accessory .a-title {
    flex-direction: column;
    text-align: center;
  }
  .accessory-wrap .accessory .marker-wrap {
    visibility: hidden;
  }
}
@media screen and (max-width: 992px) {
  body .main-wrap .main {
    width: 100%;
  }
  .liquid-wrap .liquid {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */